.noEntry {
    cursor: not-allowed
}

.entry {
    cursor: pointer
}

.glyphicon {
    cursor: default
}

li {
    list-style-type: none
}

a {
    text-decoration: none!important
}

td > a:hover {
    text-decoration: underline!important
}

.scratched {
    text-decoration: line-through!important
}

.track {
    max-height: 140px;
    max-width: 270px
}

.gold {
    color: #F5A000
}

.xl-font {
    font-size: 3em
}

.lg-font {
    font-size: 1.4em
}

.md-font {
    font-size: 1.2em
}

.sm-font {
    font-size: .9em
}

.xs-font {
    font-size: .6em
}

.borderless > thead > tr > th,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > tbody > tr > td,
.borderless > tfoot > tr > td {
    border-top: none;
    padding: 0 8px
}

.Turf {
    background-image: url(../img/turf.gif);
    height: 350px;
    width: 1108px
}

.Sand {
    background-image: url(../img/sand.gif);
    height: 350px;
    width: 1108px
}

.Poly {
    background-image: url(../img/poly.gif);
    height: 350px;
    width: 1108px
}

.RPtable {
    overflow-x: auto
}

.RPblank {
    height: 45px
}

.RPhorse {
    white-space: nowrap;
    width: 200px;
    height: 26px;
    left: 50px;
    margin: 5px;
    border: none
}

.img-logo {
    height: 45px
}

.race-well.well {
    padding: 19px 0 0 19px
}

.race-well.well-md {
    padding: 0 0 0 5px
}

.race-label {
    margin-top: 5px
}

.modal-xl {
    width: 1170px!important
}

@media all and (max-width: 1200px) {
    body {
        font-size: 1.5em
    }
    .modal-xl {
        width: 1100px!important
    }
}

@media all and (max-width: 1000px) {
    h5,
    .h5 {
        font-size: 10px!important
    }
    h4,
    .h4 {
        font-size: 10px!important
    }
    h2,
    .h2 {
        font-size: 12px!important
    }
    body {
        font-size: .83em!important
    }
    .well-md {
        padding: 0 15px!important
    }
    .image-field {
        height: 16px!important
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 2px!important
    }
    .btn-xs,
    .btn-group-xs>.btn {
        font-size: 8px!important
    }
    .btn-sm {
        padding: 1px 5px!important;
        font-size: 13px!important;
        line-height: 1.5!important;
        border-radius: 3px!important
    }
    .predict-btn {
        font-size: 9px!important
    }
    .panel-title {
        font-size: 12px!important
    }
    .panel-heading {
        padding: 5px 10px!important
    }
    .table-responsive {
        border: none!important
    }
    .navbar-brand {
        font-size: 13px!important
    }
    .modal-xl {
        width: 900px!important
    }
    .bs-accordion .panel-heading .bs-accordion-toggle:after,
    .bs-accordion .panel-heading .init:after {
        bottom: -7px!important
    }
}

@media all and (max-width: 500px) and (max-height:400px) {
    h5,
    .h5 {
        font-size: 8px!important
    }
    h4,
    .h4 {
        font-size: 10px!important
    }
    h2,
    .h2 {
        font-size: 12px!important
    }
    body {
        font-size: .5em!important
    }
    .image-field {
        height: 14px!important
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 1px!important
    }
    .btn-xs,
    .btn-group-xs>.btn {
        font-size: 6px!important
    }
    .btn-sm {
        padding: 1px 5px!important;
        font-size: 13px!important;
        line-height: 1.5!important;
        border-radius: 3px!important
    }
    .predict-btn {
        font-size: 9px!important
    }
    .panel-title {
        font-size: 10px!important
    }
    .panel-heading {
        padding: 3px 8px!important
    }
    .table-responsive {
        border: none!important
    }
    .navbar-brand {
        font-size: 13px!important
    }
    .modal-xl {
        width: 400px!important
    }
    .bs-accordion .panel-heading .bs-accordion-toggle:after,
    .bs-accordion .panel-heading .init:after {
        bottom: -7px!important
    }
}

@media print {
    .highcharts-button {
        display: none
    }
}

.topSpace {
    padding-top: 65px
}

.modal-md {
    width: 330px
}

.bs-accordion .panel-heading .bs-accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e113";
    float: right;
    bottom: -10px;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.bs-accordion .panel-heading .bs-accordion-toggle.collapsed:after {
    content: "\e114"
}

.bs-accordion .panel-heading .init:after {
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    bottom: -10px;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "\e114"
}

.bs-accordion .panel-heading .init.open:after {
    content: "\e113"
}

.bs-accordion .panel-title>a {
    display: block;
    width: 100%;
    cursor: pointer
}

.btn-gold {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.image-field {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    margin-left: auto;
    margin-right: auto
}